.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion-title {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  display: flex;
  height: 30px;
  padding: 0 12px;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-title:hover,
.active {
  background-color: #ccc;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.6s ease;
  box-shadow: 0px 4px 6px rgba(238, 222, 222, 0.25);
  background: #d0021b;
  color: white;
}

.accordion-text {
  font-weight: 400;
  font-size: 12px;
  padding: 12px;
}
