.accordion-section {
  display: flex;
  flex-direction: column;
}

.accordion-title {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  display: flex;
  height: 30px;
  padding: 0 12px;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-title:hover,
.active {
  background-color: #ccc;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.6s ease;
  box-shadow: 0px 4px 6px rgba(238, 222, 222, 0.25);
  background: #d0021b;
  color: white;
}

.accordion-text {
  font-weight: 400;
  font-size: 12px;
  padding: 12px;
}

/* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */

button:hover .btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%); */
