.error-input {
  outline: 1px solid red !important;
}

.error-small {
  color: red;
  font-size: 10px;
}

.form-label {
  margin-bottom: 8px;
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 5%;
  top: 25%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
